* {
  box-sizing: border-box;
}

.calc-container {
  font-size: 1rem;
  height: 80vh;
  width: 80vh;
  padding: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.btn {
  display: grid;
  place-content: center;
  cursor: pointer;
  height: 70px;
  width: 100%;
  border: 1px solid #afafb2;
}

.display {
  display: flex;
  color: white;
  background-color: gray;
  height: 70px;
  padding: 0.5rem;
  font-size: 2rem;
  align-items: center;
  place-content: flex-end;
}

.gray {
  background-color: #d4d4d2;
}

.gray:hover {
  background-color: gray;
}

.orange {
  background-color: #ff9001;
}

.orange:hover {
  background-color: orange;
}

.zero {
  grid-column: 1 / span 2;
}

.li-navbar {
  list-style: none;
  padding-inline: 0.5rem;
}

.li-mid {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

h1 {
  font-size: 2em;
  margin: 0;
}
